.pedidos{
    margin: 20px;
    flex: auto;
    flex-wrap: wrap;

    
}
.pedidos-pedido{
    margin: 30px;
    border: solid 3px black;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    
    
}
.pedido_data{
    font-size: 20px;
    display: inline;
}
.pedido_data__label{
    display: inline;
} 
.pedido_image{
    justify-content: space-around
}
