
body{
  background: url('../Images/UrbanCampus-Jena–Exterior.jpg');
  background-size: 99%;
}

.divContentForm{
 
  border-radius: 16px;
  background: white;
  opacity: 0.8;
  margin-top: 100px;
}

.tittleLogin{
  margin-top: 40px;
  margin-bottom: 30px;
}
.textbox{
  margin: 20px;
  padding: 5px;
  padding-left: 30px;
  border: solid 1px;
  border-radius: 4px;
  outline-color: blue;

}
.button{
  margin: 10px;
  height: 40px;
  background-color: /*#1487D9*/ #F2F2F2 ;
  color: #027373;
  border: solid 1px ;
  border-radius: 10px;
}
.button:hover{
  color: white;
  background: grey;
  height: 45px;
  transition: .6s;
}
i{
  margin: 5px;
}


  
